* {
  box-sizing: border-box;
}
#btns div {
  height: 3rem;
  font-size: 2rem;
  border-radius: 5px;
  box-shadow: none;
}
#btns div:hover {
  box-shadow: #fffefe 2px 2px 0px 0px;
}
#clac {
  width: 18rem;
  background-color: black;
  border-radius: 5px;
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 2rem;
  position: relative;
}
#clac::after {
  position: absolute;
  content: "V1.10";
  top: 95%;
  right: 1%;
}
#screen {
  width: 100%;
  height: 3.5rem;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 5px;
  font-size: 2rem;
  margin-bottom: 1rem;
}
#btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.degit {
  /* width: 5rem; */
  text-align: center;
  background-color: brown;
  cursor: pointer;
}
.opr {
  background-color: blueviolet;
  text-align: center;
  cursor: pointer;
}
.reslt {
  background-color: gold;
  text-align: center;
  cursor: pointer;
  color: black;
}
.clear {
  background-color: red;
  text-align: center;
  cursor: pointer;
  color: white;
}
